<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Konzept für XMMS2 Dj</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link href="{{ MEDIA_URL }}css/conceptual.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		{% comment %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.5-core.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/mootools-1.2.4.4-more.js"></script>
		{% endcomment %}
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.bpopup-0.4.1.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/conceptual.js"></script>
		<script type="text/javascript">
			/*
			window.addEvent('domready', function() {
				vertSlide = new Fx.Slide('vertical_slide');
				$('artist1').addEvent('click', function(e) {
					e.stop();
					vertSlide.toggle();
				});
			});
			*/

			function getAlbums (url, element) {
				new Request.HTML({
					url: url,
					update: element,
				}).send();
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div class="page-margins">
				<div class="page">
					<div id="header">
						<div id="player-controls">
							<a href="{% url dj_play %}"><img alt="play" border="0" src="{{ MEDIA_URL }}img/play.png" /></a>
							<a href="{% url dj_stop %}"><img alt="pause" border="0" src="{{ MEDIA_URL }}img/pause.png" /></a>
							<a href="{% url dj_previous %}"><img alt="previus" border="0" src="{{ MEDIA_URL }}img/prev.png" /></a>
							<a href="{% url dj_next %}"><img alt="next" border="0" src="{{ MEDIA_URL }}img/next.png" /></a>
						</div>
					</div>

					<div id="main">
						<div class="main-head">
							<h1>XMMS2 DJ</h1>
						</div>
						<div class="main-content">
						<div id="col1">
							<div id="col1_content">
								<h1>Search</h1>

								<div>
									<input style="background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); color: rgb(0, 0, 0); font: 18px arial,sans-serif bold; height: 25px; margin: 0pt; padding: 5px 8px 0pt 6px; vertical-align: top; width: 80%;"  name="search" type="text" />
									<span><a href="#">Artist</a><a style="margin: 0 10px;" href="#">Album</a><a href="#">Title</a></span>
								</div>

								<ul id="media-list" class="artists">
									{% for entry in artists %}
									<li>
									<a href="{% url dj_list_albums artist=entry.artist|urlencode %}">{{ entry.artist }}</a>
									<ul id="albumlist-{{ forloop.counter }}" class="albums">
									</ul>
									</li>
									{% endfor %}

									<!--
									<li>
									<h2 id="artist1">Arcade Fire</h2>
									<ul id="vertical_slide" class="albums">
										<li>
										<h3>Neon Bible</h3>
										<ul class="titles">
											<li>Black Mirror</li>
											<li>Keep the Car Running</li>
											<li>Neon Bible</li>
											<li>Intervention</li>
											<li>Black Wave/Bad Vibrations</li>
											<li>Ocean of Noise</li>
											<li>The Well and the Lighthouse</li>
											<li>(Antichrist Television Blues)</li>
											<li>Windowsill</li>
											<li>No Cars Go</li>
											<li>My Body Is a Cage</li>
										</ul>
										</li>

										<li>
										<h3>The Suburbs</h3>
										<ul class="titles">
											<li>The Suburbs</li>
											<li>Ready To Start</li>
											<li>Modern Man</li>
											<li>Rococo</li>
											<li>Empty Room</li>
											<li>City With No Children</li>
											<li>Half Light I</li>
											<li>Half Light II (No Celebration)</li>
											<li>Suburban War</li>
											<li>Month of May</li>
											<li>Wasted Hours</li>
											<li>Deep Blue</li>
											<li>We Used to Wait</li>
											<li>Sprawl I (Flatland)</li>
											<li>Sprawl II (Mountains Beyond Mountains)</li>
											<li>The Suburbs (Continued)</li>
										</ul>
										</li>
									</ul>
									</li>

									<li>
									<h2>At The Drive-In</h2>
									<ul class="albums">
										<li>
										<h3>Acrobatic Tenement</h3>
										<ul>
											<li>StarSlight</li>
											<li>Schaffino</li>
											<li>Ebroglio</li>
											<li>Initiation</li>
											<li>Communication drive - in</li>
											<li>Skips on the record</li>
											<li>Paid vacation time</li>
											<li>Ticklish</li>
											<li>Blue tag</li>
											<li>Coating of arms</li>
											<li>Porfirio diaz </li>
										</ul>
										</li>
										<li><h3>Vaja</h3></li>
										<li><h3>Relationship of Command</h3></li>
									</ul>
									</li>
									-->
								</ul>
							</div>
						</div>

						<div id="col2">
							<div id="col2_content" class="clearfix">
								<h1>Playlist</h1>
								<div id="playlist">
									{% include "concept/playlist.html" %}
								</div>
							</div>
						</div>

						<p style="clear: both;">&nbsp;</p>
					</div>
				</div>

					<div id="footer"></div>
				</div>
			</div>
		</div>
		<div id="popup">
			<a class="bClose">X</a>
			<div id="popupContent"></div>
			<p>Press 'esc' or 'X' in the right corner to close the popup</p>
		</div>
								
	</body>
</html>
