<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Konzept für XMMS2 Dj</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link href="{{ MEDIA_URL }}css/conceptual.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.bpopup-0.4.1.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/conceptual.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div class="page-margins">
				<div class="page">
					<div id="header">
						<div id="player-controls">
							<a href="{% url dj_play %}"><img alt="play" border="0" src="{{ MEDIA_URL }}img/play.png" /></a>
							<a href="{% url dj_stop %}"><img alt="pause" border="0" src="{{ MEDIA_URL }}img/pause.png" /></a>
							<a href="{% url dj_previous %}"><img alt="previus" border="0" src="{{ MEDIA_URL }}img/prev.png" /></a>
							<a href="{% url dj_next %}"><img alt="next" border="0" src="{{ MEDIA_URL }}img/next.png" /></a>
						</div>
					</div>

					<div id="main">
						<div class="main-head">
							<h1>XMMS2 DJ</h1>
						</div>
						<div class="main-content">
						<div id="col1">
							<div id="col1_content">
								<h1>Search</h1>

								<div>
									<form action="{% url dj_search %}" method="post">
										<input class="search-box"  name="search" type="text" />
										<input id="search-button" class="search-button" type="submit" value="Suche" name="submit" />
										<input type="radio" name="s-type" value="all">All</input>
										<input type="radio" name="s-type" value="artist">Artist</input>
										<input type="radio" name="s-type" value="album">Record</input>
										<input type="radio" name="s-type" value="title">Title</input>
									</form>
								</div>

								<ul id="media-list" class="artists">
									{% for entry in artists %}
									<li>
									<a href="{% url dj_list_albums artist=entry.artist|urlencode %}">{{ entry.artist }}</a>
									<ul id="albumlist-{{ forloop.counter }}" class="albums">
									</ul>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>

						<div id="col2">
							<div id="col2_content" class="clearfix">
								<h1>Playlist</h1>
								<form action="#" method="post">
									<select class="select-box" name="playlist">
										{% for pl in playlist_list %} 
										<option value="test">{{ pl }}</option>
										{% endfor %}
									</select>
								</form>
								<div id="playlist">
									{% include "concept/playlist.html" %}
								</div>
							</div>
						</div>

						<p style="clear: both;">&nbsp;</p>
					</div>
				</div>

					<div id="footer"></div>
				</div>
			</div>
		</div>
		<div id="popup">
			<a class="bClose">X</a>
			<div id="popupContent"></div>
			<p>Press 'esc' or 'X' in the right corner to close the popup</p>
		</div>
								
	</body>
</html>
