<h2>Album</h2>
<span>({{ albums|length }} item{{ albums|length|pluralize }})</span>
<ul>
	<li>
	<a href="javascript: getTitles('{% url dj_list_titles artist=selected_artist|urlencode album='Alle' %}');">
		Alle
	</a>
	</li>
	{% for entry in albums %}
	<li class="{% cycle 'emph' '' %}">
	<a href="javascript: getTitles('{% url dj_list_titles artist=selected_artist|urlencode album=entry.album|urlencode %}');">
	{{ entry.album }}
	</a>
	<a href="javascript: getPlaylist('{% url dj_add_album artist=selected_artist|urlencode album=entry.album|urlencode %}');">
		add
	</a>
	</li>

	{% endfor %}
</ul>
