<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>XMMS2 DJ</title>
		<!-- (de) Fügen Sie hier Ihre Meta-Daten ein -->

		<link href="{{ MEDIA_URL }}css/layout.css" rel="stylesheet" type="text/css"/>
		<!--[if lte IE 7]>
		<link href="{{ MEDIA_URL }}css/patches/patch_layout_draft.css" rel="stylesheet" type="text/css" />
		<![endif]-->

		<script type="text/javascript" src="{{ MEDIA_URL }}js/clientcide.2.2.0.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/xmms2-dj.js"></script>
		<script type="text/javascript">
function refresh() {
	updateStatus('{% url dj_status %}');
}

window.addEvent('domready', function() {
	var periodical;
	periodical = refresh.periodical(1500, this);
});
		</script>
	</head>
	<body>
		<!-- skip link navigation -->
		<ul id="skiplinks">
			<li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
			<li><a class="skip" href="#col3">Skip to main content (Press Enter).</a></li>
		</ul>

		<div class="page_margins">
			<div class="page">
				<div id="header" role="banner">
					<div id="topnav" role="contentinfo">
						<span>xmms2-dj git-version</span>
					</div>
					<h1>XMMS2 DJ</h1>

					<div id="player_controls">
						{% block player_controls %}
						{% endblock %}
					</div>
				</div>

				<!-- begin: main navigation #nav -->
				<div id="nav" role="navigation">
					<div class="hlist">
						<ul>
							<li class="active"><a href="#">Local Media</a></li>
							<li><a href="#">Radio-Streams</a></li>
						</ul>
					</div>
				</div>
				
				<!-- end: main navigation -->
				<!-- begin: content area #main -->
				<div id="main">

					<!-- begin: #col1 - first float column -->
					<div id="col1" role="complementary">
						<div id="col1_content" class="clearfix">
							<h2>Artists</h2>
							<form method="post" action="#">
								<label for="search_artist">search: </title>
								<input type="text"
								  	onkeyup="searchTimer('/search/artist/', 'searchArtist');"
							       		id="search_artist" />
							</form>
							<div id="artists">
							{% block artists %}
							{% endblock %}
							</div>
					        </div>
					</div>
					<!-- end: #col1 -->

					<!-- begin: #col2 second float column -->
					<div id="col2" role="complementary">
						<div id="col2_content" class="clearfix">
							<h2>Albums</h2>
							<form method="post" action="#">
								<label for="search_album">search: </title>
								<input type="text"
								  	onkeyup="searchTimer('/search/album/', 'searchAlbum');"
							       		id="search_album" />
							</form>

							<div id="albums">
							{% block albums %}
							{% endblock %}
							</div>
						</div>
					</div>
					<!-- end: #col2 -->

					<div id="col4" role="complementary">
						<div id="col4_content" class="clearfix">
							<h2>Titles</h2>
							<form method="post" action="#">
								<label for="search_title">search: </title>
								<input type="text"
								  	onkeyup="searchTimer('/search/title/', 'searchTitle');"
							       		id="search_title" />
							</form>

							<div id="titles">
							{% block titles %}
							{% endblock %}
							</div>
						</div>
					</div>

					<!-- begin: #col3 static column -->
					<div id="col3" role="main">
						<div id="col3_content" class="clearfix"> 
							<h2>
								Playlist
								<a href="javascript: getPlaylist('{% url dj_clear_playlist %}');">clear</a>
								<a href="#">export</a>
								<a href="javascript: getPlaylist('{% url dj_shuffle_playlist %}');">shuffle</a>
							</h2>
							{% block base %}
							{% endblock %}
						</div>
						<!-- IE column clearing -->
						<div id="ie_clearing">&nbsp;</div>
					</div>
					<!-- end: #col3 -->

				</div>
				<!-- end: #main -->

				<!-- begin: #footer -->
				<div id="footer" role="contentinfo">Layout based on <a href="http://www.yaml.de/">YAML</a></div>
				<!-- end: #footer -->

			</div>
		</div>
		<!-- full skiplink functionality in webkit browsers -->
	</body>
</html>
