{% load dj_extras %}

<span>
	({{ playlist|length }} item{{ playlist|length|pluralize }} – total playtime: {{ playtime|timespan }})
</span>
<ul>
	{% for entry in playlist %}
	<li class="{% cycle 'emph' '' %}">
	<a href="javascript: updateStatus('{% url dj_jump id=entry.id %}');">
		{{ entry.artist }} - {{ entry.title }}
	</a>
	<span>({{ entry.duration|minutes }}:{{ entry.duration|seconds }})</span>
	<a href="javascript: getPlaylist('{% url dj_remove id=entry.id %}');">
		(-)
	</a>
	<a href="javascript: getPlaylist('{% url dj_move_entry_down pos=entry.id %}');">
		(&#8659;)
	</a>
	<a href="javascript: getPlaylist('{% url dj_move_entry_up pos=entry.id %}');">
		(&#8657;)
	</a>
	</li>
	{% endfor %}
</ul>

